<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.{{USER}}.ccc-continue</string>
  <key>ProgramArguments</key><array>
    <string>{{PYTHON}}</string>
    <string>{{CCC_ROOT}}/cmux_codex_watch.py</string>
    <string>watch</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ProcessType</key><string>Background</string>
  <key>WorkingDirectory</key><string>{{CCC_ROOT}}</string>
</dict></plist>
